
.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    background: #fce3fe;
    padding-top: 100px;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 27px;
  color: #2b10a2;
}

.loginsignup-container {
    width: 100%;
    max-width: 580px; /* Застосуйте максимальну ширину замість фіксованої */
    background: white;
    margin: auto;
    padding: 40px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
    text-align: center; /* Центруйте заголовок */
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 48px; /* Зменшіть висоту, щоб виглядало краще */
    width: 100%;
    padding-left: 20px;
    border: 1px solid #030746;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 4px;
}

.loginsignup-container button {
    width: 100%;
    height: 48px; /* Зменшіть висоту кнопки */
    color: white;
    background: #2b10a2;
    margin-top: 30px;
    border: none;
    font-size: 18px; /* Зменшіть розмір шрифту */
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
}

.loginsignup-container button:hover {
    background: #081041; /* Додайте ефект наведення для кнопки */
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
    text-align: center; /* Центруйте текст */
}

.loginsignup-login span {
    color: #2b10a2;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 16px; /* Зменшіть розмір шрифту */
    font-weight: 500;
}

.loginsignup-agree p {
    margin: 0; /* Приберіть зайві відступи */
}

@media(max-width:1280px){
    .loginsignup{
        padding-top: 50px;
    }

    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }

    .loginsignup-container h1{
        margin: 10px 0px;
    }

    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }

    .loginsignup-fields input{
        height: 56px;
        width: 93%;
    }

    .loginsignup-container button{
        width: 100%;
    }

    .loginsignup-login{
font-size: 15px;
    }

    .loginsignup-agree{
        font-size: 13px;
        gap: 11px;
    }
}

@media(max-width:800px){
    .loginsignup-container{
        padding: 19px 19px;
    }

    .loginsignup-container h1{
        font-size: 22px;
    }

    .loginsignup-fields{
        margin-top: 19px;
    }

    .loginsignup-fields input{
        height: 48px;
    }

    .loginsignup-container button{
        height: 48px;
        font-size: 14px;
    }

    
}